<ul id="slide-out" class="sidenav" style="width: 240px;transform: translateX(0px);">
    <li><div class="user-view" style="height: 130px; margin-bottom: 0;">
    <div class="background" >
        <img style="width: 100%" src="/pexelsglo.jpeg">
      </div>
      <a href="#name"><span class="white-text name">Admin</span></a>
      <a href="#email"><span class="white-text email"></span></a>
    </div></li>
    <li>
        <a href="/" class="grey-text text-darken-2" style="margin-left: -20px;">
            <i class="material-icons" style="margin-right: 8px;">chevron_left</i>
            Return To Atlas</a>
    </li>
    <li>
        <a href="/admin">Admin Home</a>
    </li>
    <li>
        <a href="/admin/products">Manage Products</a>
    </li>
</ul>