<head>
    {{> head }}
</head>
<body>
    {{> adminnav }}
    <div class="maincontent">
         {{#if errormessages }}
        <div class="row">
            <div class="col s12">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title">ACTION FAILED. ERRORS:</span>
                   {{#each errormessages }}
                    <p>
                        {{ this.param }}(val: {{ this.value }}) : {{ this.msg }}
                    </p>
                    {{/each}}
                    
                </div>
            </div>
            </div>
        </div>
        {{/if }}
        {{#if successmessage }}
        <div class="row">
            <div class="col s12">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">{{successmessage}} </span>
                    
                </div>
            </div>
            </div>
        </div>
        {{/if }}

        <div class="row" style="margin-top: 0px; margin-bottom: 2px;">
        <div class="col s12">
            <div class="card-panel" style="padding:0px;">
                <form action="" style="margin: 0" id="tableform">
                <table class="highlight fixed_header" style="margin-top : 0; ">
                    <thead style="" class="blue white-text">
                        <th class="first">Username</th>
                            <th>
                                Is Admin
                            </th>
                            <th style="padding:4px;">
                                <div class="nav-wrapper">
                                    <div class="input-field searchinput">
                                    <input id="search" type="search" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                    </div>
                                </div>
                            </th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </form>
                <div class='deletebar' style="display: none; border-top: 1px grey solid;">
                    <div style="margin: 3px;" id="deleteselected" href="#batchdeleteModal" class="modal-trigger btn red waves-effect waves-light">Delete selected</div>
                    <div style="margin: 3px;" id="promoteselected" href="#batchpromoteModal" class="modal-trigger btn green waves-effect waves-light">Promote selected</div>
                    <div style="margin: 3px;" id="demoteselected" href="#batchdemoteModal" class="modal-trigger btn orange waves-effect waves-light">Demote selected</div>

                </div>
            </div>
        </div>
    </div>
    </div>

    {{!-- MODALS --}}
    <div id="confirmdemote" style="margin-top: 20%; width: 440px;" class="modal">
        <div class="modal-content" style="padding-bottom: 0;">
            <span class="red-text" style="font-size: 26px; font-weight: 500">WARNING!</span>
            <p style="font-size: 26px; margin-bottom: 5px; margin-top: 10px;">Are you sure you want to <span class="red-text"
                    style="font-weight: 500">DEMOTE</span> the user <span class="teal-text text-lighten-1 whichuser"></span></p>
        </div>
        <div class="modal-footer">
            <a id="confirmdemotebtn"><div class="btn waves-effect waves-light green">Yes I am sure</div></a>
            <div class="modal-close btn waves-effect waves-light btn-flat" onclick="$('#deleteModal').modal('close'); return false;">Cancel</div>
        </div>
    </div>

    <div id="confirmpromote" style="margin-top: 20%; width: 440px;" class="modal">
        <div class="modal-content" style="padding-bottom: 0;">
            <span class="red-text" style="font-size: 26px; font-weight: 500">WARNING!</span>
            <p style="font-size: 26px; margin-bottom: 5px; margin-top: 10px;">Are you sure you want to <span class="green-text"
                    style="font-weight: 500">PROMOTE</span> the user <span class="teal-text text-lighten-1 whichuser"></span></p>
        </div>
        <div class="modal-footer">
            <a id="confirmpromotebtn" href=""><div class="btn waves-effect waves-light green">Yes I am sure</div></a>
            <div class="modal-close btn waves-effect waves-light btn-flat" onclick="$('#deleteModal').modal('close'); return false;">Cancel</div>
        </div>
    </div>

    <div id="batchdeleteModal" style="margin-top: 20%; width: 440px;" class="modal">
        <div class="modal-content" style="padding-bottom: 0;">
            <span class="red-text" style="font-size: 26px; font-weight: 500">WARNING!</span>
            <p style="font-size: 26px; margin-bottom: 5px; margin-top: 10px;">Are you sure you want to <span class="red-text"
                    style="font-weight: 500">DELETE</span> <span class="numberofelements" class="teal-text"></span> element(s)?</p>
        </div>
        <div class="modal-footer">
            <div href="" id="submitbatchdel" class="modal-close waves-effect waves-green btn-flat">Yes I am sure</div>
            <div class="modal-close waves-effect waves-green btn-flat" onclick="$('#deleteModal').modal('close'); return false;">Cancel</div>
        </div>
    </div>

    <div id="batchpromoteModal" style="margin-top: 20%; width: 440px;" class="modal">
        <div class="modal-content" style="padding-bottom: 0;">
            <span class="red-text" style="font-size: 26px; font-weight: 500">WARNING!</span>
            <p style="font-size: 26px; margin-bottom: 5px; margin-top: 10px;">Are you sure you want to <span class="green-text"
                    style="font-weight: 500">PROMOTE</span> <span class="numberofelements" class="teal-text"></span> element(s)?</p>
        </div>
        <div class="modal-footer">
            <div href="" id="submitbatchpromote" class="modal-close waves-effect waves-green btn-flat">Yes I am sure</div>
            <div class="modal-close waves-effect waves-green btn-flat" onclick="$('#deleteModal').modal('close'); return false;">Cancel</div>
        </div>
    </div>

    <div id="batchdemoteModal" style="margin-top: 20%; width: 440px;" class="modal">
        <div class="modal-content" style="padding-bottom: 0;">
            <span class="red-text" style="font-size: 26px; font-weight: 500">WARNING!</span>
            <p style="font-size: 26px; margin-bottom: 5px; margin-top: 10px;">Are you sure you want to <span class="red-text"
                    style="font-weight: 500">DEMOTE</span> <span class="numberofelements" class="teal-text"></span> element(s)?</p>
        </div>
        <div class="modal-footer">
            <div href="" id="submitbatchdemote" class="modal-close waves-effect waves-green btn-flat">Yes I am sure</div>
            <div class="modal-close waves-effect waves-green btn-flat" onclick="$('#deleteModal').modal('close'); return false;">Cancel</div>
        </div>
    </div>

    {{> footer }}
    <script>
        $(document).ready(function(){
            if (!RegExp.escape) {
                RegExp.escape = function (s) {
                    return s.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, "\\$&")
                };
            }
            var $rows = $('.databaseElement');

            $('#search').keyup(function () {
                var regex =  new RegExp(RegExp.escape($.trim(this.value).replace(/\s+/g, ' ')), 'i')
                $('.databaseElement').hide().filter(function () {
                    var text = $(this).children(".first").text().replace(/\s+/g, ' ');
                    return regex.test(text)
                }).show();
            });

            $.getJSON('/admin/getusers', (data) => {
                for (var i = 0; i < data.length; i++) {
                    var button;
                    if(data[i].admin){
                        button = '<div style="margin: 0" class="btndemote btn waves-effect waves-light red modal-trigger" href="#confirmdemote" name="action">Demote</div>'
                    }else{
                        button = '<div style="margin: 0" class="btnpromote btn waves-effect waves-light green modal-trigger" href="#confirmpromote" name="action">Promote</div>';
                    }
                    $('tbody').append(`<tr class="databaseElement modal-trigger" data-productid="${i}" href="#modal1">
                        <td class="first">${data[i].name}</td><td>${data[i].admin}</td>
                        <td style="padding: 2px;">${button} <p class="right atlascheckboxes" style="margin:0; margin-top: 8px;"><label><input class="checkboxes filled-in right" type="checkbox" name="checkboxes" value="${data[i].id}" id="checkbox-${i}"/><span></span></label></p></td>
                        </tr>`);
                }

                $('input[type="checkbox"]').change(function(){ 
                    if ($("#tableform input:checkbox:checked").length > 0) {
                        $('.deletebar').show()
                    }else {
                        $('.deletebar').hide()
                    }
                    $("#numberofelements").text($("#tableform input:checkbox:checked").length);
                });    

                var lastChecked = null;

                $('.checkboxes').click(function(e) {
                    if(!lastChecked) {
                        lastChecked = this;
                        return;
                    }
                    console.log('hey');
                    if(e.shiftKey) {
                        var start =  $('.checkboxes').index(this);
                        var end =  $('.checkboxes').index(lastChecked);

                        $('.checkboxes').slice(Math.min(start,end), Math.max(start,end)+ 1).prop('checked', lastChecked.checked);

                    }

                    lastChecked = this;
                });

                $('#submitbatchdel').click(function(){
                    formdata = $("#tableform").serialize();
                    console.log(formdata);
                    $.ajax({
                        url: "/admin/batchdeleteusers",
                        data: $('.checkboxes:checked').serialize(),
                        type: 'DELETE',
                        success: function (data) {
                            console.log();
                        }
                    });
                    location.reload();
                });

                $('#submitbatchdemote').click(function(){
                    formdata = $("#tableform").serialize();
                    console.log(formdata);
                    $.ajax({
                        url: "/admin/batchdemote",
                        data: $('.checkboxes:checked').serialize(),
                        type: 'POST',
                        success: function (data) {
                            console.log();
                        }
                    });
                    location.reload();
                })

                $('#submitbatchpromote').click(function(){
                    formdata = $("#tableform").serialize();
                    console.log(formdata);
                    $.ajax({
                        url: "/admin/batchpromote",
                        data: $('.checkboxes:checked').serialize(),
                        type: 'POST',
                        success: function (data) {
                            console.log();
                        }
                    });
                    location.reload();
                })


                $(".btnpromote").click(function(){
                    $(".whichuser").text(data[$(this).parent().parent().data("productid")].name);
                    $("#confirmpromotebtn").attr('href', `/admin/setadmin/${data[$(this).parent().parent().data("productid")].id}`);
                    console.log(data[$(this).parent().parent().data("productid")].id)
                });

                 $(".btndemote").click(function(){
                    $(".whichuser").text(data[$(this).parent().parent().data("productid")].name);
                    $("#confirmdemotebtn").attr('href', `/admin/unsetadmin/${data[$(this).parent().parent().data("productid")].id}`);
                });
            });
        })
    </script>
</body>