<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{> head }}
</head>
<body>
    <div class="container">
        <h3>It seems like you do not have permissions to access this page</h3>
        <h5>If this is a mistake, click this to be redirected to the login page</h5>
        <a href="/login"><div class="btn waves-effect waves-light">Go to Login Page</div></a>
        <a href="/"><div class="btn waves-effect waves-light">Go Back to Atlas</div></a>
    </div>
    {{> footer }}
</body>
</html>