<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    {{> head }}
  </head>
  <body>
    <nav style="height: 30px; z-index: 10; background: black; opacity: 0.5;">
        <div class="nav-wrapper">
            <a href="">return</a>
        </div>
    </nav>
    <span style="position: absolute; z-index: 4; top: 40px; left: 195px;"><img style="width: 360px;" src="/atlaslogo.png" alt=""></span>
    <div id="map">
    </div>
    <script>
      $(document).ready(function(){
        $("#tabclose").click(function(){
        $("#infobox").hide();
      })
        $("#infobox").hide();
      })
      
      function initMap() {
        var myLatLng = {lat: 0, lng: 0};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: myLatLng,
          styles: [
                  {
                      "featureType": "landscape.natural",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "color": "#e0efef"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "hue": "#1900ff"
                          },
                          {
                              "color": "#c0e8e8"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "lightness": 100
                          },
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "transit.line",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "lightness": 700
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#7dcdcd"
                          }
                      ]
                  }
              ]
        });
          map.setOptions({ minZoom: 2, maxZoom: 14 });


        var infowindow = new google.maps.InfoWindow(
          {
              
          }
        );


        var marker;
        $.getJSON('/getlocations', function(data) {
          for(var i = 0; i <data.length; i++){
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(data[i].latitude, data[i].longitude),
              map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                infowindow.setContent("<h5 style='margin-top: 5px; margin-bottom: 5px; font-size: 22px; z-index: 999;'>"+data[i].location+"</h5><p>"+data[i].description+"</p>");
                infowindow.open(map, marker);
                // $("#infobox").show(100);
                //  document.getElementById("infobox").getElementsByClassName("infodesc")[0].innerHTML = data[i].description;
                // document.getElementById("infobox").getElementsByClassName("infotitle")[0].innerHTML = data[i].name;
              }
            })(marker, i));
      
          }
        });

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOx_n34yHgoKGkP7bcfpCRf6Ojm_f1lOU&callback=initMap">
    </script>
    <div id="infobox" class="card-panel" style="display: none;">
      <div class="row" style="margin: 0; padding: 0; margin-bottom: 5px;">
        <i id="tabclose" class="material-icons right">close</i>
      </div>
      <h4 style="margin-top: 0; font-weight: 600" class="infotitle">

      </h4>
      <p class="infodesc"></p>
    </div>
    {{> footer }}
  </body>
</html>