<head>
    {{> head }}
</head>

<body>
    <div style="z-index: -1;position: absolute;width:100%; height:40%; top:0;" class="z-depth-2 teal">

    </div>

    <div class="valign-wrapper" style="height: 100%; width: 100%;">
        <div class="row" style="width: 100%; margin-bottom: 0;">
            <div class="col s4"></div>
            <div class="col s4" style="">
                <div class="card-panel" style="margin-right: -30px; margin-left: -30px; padding-left: 50px; padding-right:50px;"
                    class="z-depth-5">
                    <h3 class="form-signin-heading" style="margin-bottom: 40px; font-weight: 600; text-align: center;">
                        Registration
                    </h3>
                    <form id="loginform" action="/signup" method="post" class="form-signin" style="">

                        <p id="message" style="color:red">{{message}}</p>
                        <div class="row">
                            <div class="input-field col s12" style="padding-left:0;">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="username" type="text" class="form-control" name="username" placeholder="Username">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s12" style="padding-left:0;">
                                <i class="login-icons material-icons prefix">lock</i>
                                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s12" style="padding-left:0;">
                                <i class="login-icons material-icons prefix">lock</i>
                                <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" placeholder="Password">
                                <label for="password">Confirm Password</label>
                            </div>
                            <div>
                                <button class="btn waves-effect orange waves-light" style="width: 100%; padding-left: 20px;"
                                    type="submit" name="action">Login
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('#loginform').validate({ // initialize the plugin
                        rules: {
                            username: {
                                required: true,
                                minlength: 5,
                                maxlength: 20
                            },
                            password: {
                                required: true,
                                minlength: 5,
                                maxlength: 20
                            },
                            confirmpassword: {
                                equalTo: "#password"
                            }
                        },
                        messages: {
                            username: {
                                minlength: "Passwords have to be between 5-20 characters",
                                maxlength: "Passwords have to be between 5-20 characters"
                            },
                            password: {
                                minlength: "Passwords have to be between 5-20 characters",
                                maxlength: "Passwords have to be between 5-20 characters"
                            },
                            confirmpassword: {
                                equalTo: "Passwords do not match",
                            }
                        }
                    });
                })
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        </div>
    </div>
    {{> footer }}
</body>