<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
    <title>Unauthorised</title>
</head>

<body>
    <h1>You are not Authorised for this page. It is for admins only.</h1>
    <a href="/">
        <div class="btn waves-effect orange waves-light">Return to Home page</div>
    </a>
    <a href="">Alternatively, go to the login page</a>
    {{> footer }}
</body>

</html>